@font-face{
	font-family: 'Montserrat';
	src: url('fonts/Montserrat.ttf');
}
/* reset css */
html, body{
	margin: 0;
	padding: 0;
	font-family: Montserrat, Calibri, sans-serif;
	scroll-behavior: smooth;
    background-color: #E7F3FF;
}
img{
	max-width: 100%;
	height: auto;
}
header nav a{
	text-decoration: none;
}
/* Header */
header{
	background-color:#ffffff;
	padding-bottom: 5%;
}
header nav i{
    color: #79b7ea;
}
.noDisplay{
	display: none;
}
#logo{
	width: 100%;
	padding: 0 0;
    display: block;
    text-align: center;
    border-bottom: 0.5em solid #79b7ea;
}
.btn-nav{
    display: block !important;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
    cursor: pointer;
}
.btn-nav:hover, .btn-nav:focus{
    color:#79b7ea;
}
.btn-nav:active{
    color: #79b7ea;
}
#menu-nav{
    display: none;
}
#nav-link{
	display: flex;
	flex-direction: column;
	text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
#nav-link a{
	padding: 1em 0;
	color: #000;
	transition-duration: 0.5s;
	font-size: 1.5rem;
    font-family: montserrat;
}
#nav-link a:visited{
	color: #000;
}
#nav-link a:active{
	color: #000;
}
#nav-link a:hover{
	color: #000;
    text-decoration: underline #93c3ea;
	transition-duration: 0.5s;
}
@media screen and (min-width: 1024px){
	header{
		display: flex;
		padding-bottom: 0;
        border-bottom: 0.7em solid #79b7ea;
	}
    .btn-nav{
        display: none !important;
    }
    #menu-nav{
        display: block !important;
    }
	#logo{
		width: 30%;
        padding: 0 0;
        border-bottom: none;
	}
	#nav-link{
		width: 100%;
        text-transform: none;
        font-size: 0.7em;
		display: inline-block;
		padding-top: 45px;
	}
    #nav-link a{
        padding-right: 1em;
    }
}
/* Main */
#infosPerso{
    display: none;
}
#poster{
    padding: 0 0;
    margin: 0 0;
    background-color: #E7F3FF;
}
section{
    padding: 0 0;
    margin: 0 0;
}
section h2{
    margin: 0 0;
    padding: 1em 0;
    font-size: 2.5rem;
    text-align: center;
}
section h3{
    margin: 0 0;
    padding: 0 0;
    font-size: 1.5rem;
    text-align: center;
}
section span{
    margin: 0 0;
    padding: 0 0 1em 0;
    font-size: 1rem;
    display: block;
    text-align: center;
    font-style: italic;
}
section p{
    margin: 0 0;
    padding: 5% 5% 10% 5%;
    text-align: justify;
}
.apparitionTitre{
    transition: 1s;
    opacity: 1;
}
.apparitionTitre.invisible{
    opacity: 0;
    transition: 0s;
}
.apparition{
    transition: 1.5s;
    opacity: 1;
}
.apparition.invisible{
    opacity: 0;
    transition: 0s;
}
@media screen and (min-width: 1024px){
    section h2{
        padding: 0.5em 0 0 0;
    }
    section p{
        padding: 2em 2em;
        font-size: 1.5rem;
    }
}
/* Section Présentation */
#presentation{
    background-color: #E7F3FF;
}
/*Section Expériences pro*/
#expPro{
    background-color: #fff;
}

@media screen and (min-width: 1024px){
    .XP{
        display: flex;
        align-items: center;
    }
    .XP h3{
        width: 20%;
    }
    .XP span{
        padding: 0 0;
        width: 10%;
    }
    .XP p{
        width: 65%;
    }
}
/*Section Education*/
#education{
    background-color: #FFDACC;
}
#courseraLink{
    max-height: 20%;
    display: block;
    text-align: center;
    padding: 0 0 1em 0;
}
#coursera, #okContact{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
#coursera::before, #okContact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#coursera:hover, #okContact:hover{
    color: #e8e8e8;
   }
   
#coursera:hover::before, #okContact:hover::before{
    width: 100%;
}
@media screen and (min-width: 1024px){
    .school{
        display: flex;
        align-items: center;
    }
    .school h3{
        width: 20%;
    }
    .school span{
        padding: 0 0;
        width: 8%;
    }
}
/*Section Compétences*/
#skills{
    background-color: #E7F3FF;
}
.softskills h3{
    text-align: left;
}
li{
    list-style: none;

    padding-top: 10%;
}
.ul-tools li{
    list-style-image: url("icons/tools.png");;
}
.ul-coding li{
    list-style: url("icons/coding.png");
}
.ul-check li{
    list-style: url("icons/checkbox.svg");
}
.ul-arrow li{
    list-style: url("icons/arrow-right.png");
}
@media screen and (min-width: 1024px){
    #skills h2{
        padding: 1em 0;
    }
    #skillsContainer{
        display: flex;
        align-items: stretch;
        flex-flow: row;
        justify-content: space-evenly;
        padding-bottom: 2em;
    }
    .flexSkills{
        display: flex;
        align-items: center;
        flex-flow: column;
        width: 25%
    }
    .flexSkills h3{
        width: 20%;
    }
    .flexSkills span{
        padding: 0 0;
        width: 8%;
    }
}
/*Section Contact*/
#contact{
    background-color: #FFDACC;
}
fieldset{
    background-color: #FFDACC;
    font-size: 1rem;
    margin: 0 0;
}
form{
    display: flex;
    justify-content: center;
}
.flex-formulaire{
    display: flex;
    flex-flow: column wrap;
}
.flex-formulaire input{
    height: 25px;
    width: 70%;
	margin-top: 2%;
	border-radius: 5px;
	border: groove 2px #b2b2b2;
}
textarea{
	height: 80px;
	width: 98%;
	display: block;
	margin-top: 2%;
	border-radius: 5px;
	border: groove 2px #b2b2b2;
}
#okContact{
	margin-top: 2%;
	margin-left: 35%;
}
@media screen and (min-width: 1024px){
    #contact h2{
        padding: 1em 0;
    }
    #contact article{
        padding-bottom: 2em;
        text-align: center;
    }
    form{
        display: inline-block;
        width: 45%;
    }
    fieldset{
        border-radius: 15px;
        padding-bottom: 20px;
    }
    .flex-formulaire label{
        padding-top: 10px;
        text-align: left;
    }
    .flex-formulaire input{
        border: solid 1px grey;
        width: 20em;
    }
    textarea{
        margin: 2% 0;
        font-size: 1em;
        border: solid 1px grey;
    }
    #okContact{
        margin: 0 0;
    }
}
/* Footer */
footer{
    background-color: #E7F3FF;
    text-align: center;
    font-style: italic;
    padding: 2%;
}